ejercicios/EjercicioN_HibernateCRUD_Juan_Carlos_Jiron_Juarez/ClienteEmpleado/xml-resources/web-service-references/WsEmpleado/wsdl/localhost_8080/HibernateEmpleadoCRUD/WsEmpleado.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.ip.mc/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.ip.mc/" name="WsEmpleado">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.ip.mc/" schemaLocation="http://localhost:8080/HibernateEmpleadoCRUD/WsEmpleado?xsd=1"/>
</xsd:schema>
</types>
<message name="addEmpleado">
<part name="parameters" element="tns:addEmpleado"/>
</message>
<message name="addEmpleadoResponse">
<part name="parameters" element="tns:addEmpleadoResponse"/>
</message>
<message name="deleteEmpleado">
<part name="parameters" element="tns:deleteEmpleado"/>
</message>
<message name="deleteEmpleadoResponse">
<part name="parameters" element="tns:deleteEmpleadoResponse"/>
</message>
<message name="updateEmpleado">
<part name="parameters" element="tns:updateEmpleado"/>
</message>
<message name="updateEmpleadoResponse">
<part name="parameters" element="tns:updateEmpleadoResponse"/>
</message>
<message name="getEmpleadoById">
<part name="parameters" element="tns:getEmpleadoById"/>
</message>
<message name="getEmpleadoByIdResponse">
<part name="parameters" element="tns:getEmpleadoByIdResponse"/>
</message>
<message name="getEmpleados">
<part name="parameters" element="tns:getEmpleados"/>
</message>
<message name="getEmpleadosResponse">
<part name="parameters" element="tns:getEmpleadosResponse"/>
</message>
<portType name="WsEmpleado">
<operation name="addEmpleado">
<input wsam:Action="http://ws.ip.mc/WsEmpleado/addEmpleadoRequest" message="tns:addEmpleado"/>
<output wsam:Action="http://ws.ip.mc/WsEmpleado/addEmpleadoResponse" message="tns:addEmpleadoResponse"/>
</operation>
<operation name="deleteEmpleado">
<input wsam:Action="http://ws.ip.mc/WsEmpleado/deleteEmpleadoRequest" message="tns:deleteEmpleado"/>
<output wsam:Action="http://ws.ip.mc/WsEmpleado/deleteEmpleadoResponse" message="tns:deleteEmpleadoResponse"/>
</operation>
<operation name="updateEmpleado">
<input wsam:Action="http://ws.ip.mc/WsEmpleado/updateEmpleadoRequest" message="tns:updateEmpleado"/>
<output wsam:Action="http://ws.ip.mc/WsEmpleado/updateEmpleadoResponse" message="tns:updateEmpleadoResponse"/>
</operation>
<operation name="getEmpleadoById">
<input wsam:Action="http://ws.ip.mc/WsEmpleado/getEmpleadoByIdRequest" message="tns:getEmpleadoById"/>
<output wsam:Action="http://ws.ip.mc/WsEmpleado/getEmpleadoByIdResponse" message="tns:getEmpleadoByIdResponse"/>
</operation>
<operation name="getEmpleados">
<input wsam:Action="http://ws.ip.mc/WsEmpleado/getEmpleadosRequest" message="tns:getEmpleados"/>
<output wsam:Action="http://ws.ip.mc/WsEmpleado/getEmpleadosResponse" message="tns:getEmpleadosResponse"/>
</operation>
</portType>
<binding name="WsEmpleadoPortBinding" type="tns:WsEmpleado">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateEmpleado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEmpleadoById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getEmpleados">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WsEmpleado">
<port name="WsEmpleadoPort" binding="tns:WsEmpleadoPortBinding">
<soap:address location="http://localhost:8080/HibernateEmpleadoCRUD/WsEmpleado"/>
</port>
</service>
</definitions>