ejercicios/ejercicioN_WSGrados_Juan_Carlos_Jiron_Juarez/ClienteJava/src/conf/xml-resources/web-service-references/ConversionGrados/wsdl/localhost_8080/ServiceGrados2/ConversionGrados.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://conversiones/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://conversiones/" name="ConversionGrados">
<types>
<xsd:schema>
<xsd:import namespace="http://conversiones/" schemaLocation="http://localhost:8080/ServiceGrados2/ConversionGrados?xsd=1"/>
</xsd:schema>
</types>
<message name="KelvinToCelsius">
<part name="parameters" element="tns:KelvinToCelsius"/>
</message>
<message name="KelvinToCelsiusResponse">
<part name="parameters" element="tns:KelvinToCelsiusResponse"/>
</message>
<message name="CelsiusToFahrenheit">
<part name="parameters" element="tns:CelsiusToFahrenheit"/>
</message>
<message name="CelsiusToFahrenheitResponse">
<part name="parameters" element="tns:CelsiusToFahrenheitResponse"/>
</message>
<message name="FahrenheitToCelsius">
<part name="parameters" element="tns:FahrenheitToCelsius"/>
</message>
<message name="FahrenheitToCelsiusResponse">
<part name="parameters" element="tns:FahrenheitToCelsiusResponse"/>
</message>
<message name="CelsiusToKelvin">
<part name="parameters" element="tns:CelsiusToKelvin"/>
</message>
<message name="CelsiusToKelvinResponse">
<part name="parameters" element="tns:CelsiusToKelvinResponse"/>
</message>
<portType name="ConversionGrados">
<operation name="KelvinToCelsius">
<input wsam:Action="http://conversiones/ConversionGrados/KelvinToCelsiusRequest" message="tns:KelvinToCelsius"/>
<output wsam:Action="http://conversiones/ConversionGrados/KelvinToCelsiusResponse" message="tns:KelvinToCelsiusResponse"/>
</operation>
<operation name="CelsiusToFahrenheit">
<input wsam:Action="http://conversiones/ConversionGrados/CelsiusToFahrenheitRequest" message="tns:CelsiusToFahrenheit"/>
<output wsam:Action="http://conversiones/ConversionGrados/CelsiusToFahrenheitResponse" message="tns:CelsiusToFahrenheitResponse"/>
</operation>
<operation name="FahrenheitToCelsius">
<input wsam:Action="http://conversiones/ConversionGrados/FahrenheitToCelsiusRequest" message="tns:FahrenheitToCelsius"/>
<output wsam:Action="http://conversiones/ConversionGrados/FahrenheitToCelsiusResponse" message="tns:FahrenheitToCelsiusResponse"/>
</operation>
<operation name="CelsiusToKelvin">
<input wsam:Action="http://conversiones/ConversionGrados/CelsiusToKelvinRequest" message="tns:CelsiusToKelvin"/>
<output wsam:Action="http://conversiones/ConversionGrados/CelsiusToKelvinResponse" message="tns:CelsiusToKelvinResponse"/>
</operation>
</portType>
<binding name="ConversionGradosPortBinding" type="tns:ConversionGrados">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="KelvinToCelsius">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CelsiusToFahrenheit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="FahrenheitToCelsius">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="CelsiusToKelvin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ConversionGrados">
<port name="ConversionGradosPort" binding="tns:ConversionGradosPortBinding">
<soap:address location="http://localhost:8080/ServiceGrados2/ConversionGrados"/>
</port>
</service>
</definitions>